.feature-container {
    display: flex;
}

.left-options {
    padding: 5px;
    width: 19%;
    margin-top: 1em;
}

.policy {
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 1em;
}

.policy:hover {
    background-color: #EFF9FF;
    border-color: #EFF9FF;
}

.pol-head {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.desc-container {
    text-align: left;
    padding: 0.2em;
}

.policy-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.policy-img {
    width: 5vh;
    height: auto;
}

.desc-span {
    font-size: small;
    margin-bottom: 0.2em;
}

.right-features {
    width: 81%;
    margin-left: 1em;
}

.feature-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.next-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowx {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrowx:hover {
    border-color: #0088DD;
}

.right {
    margin-left: 0.7em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.img-cont {
    position: relative;
    width: 100%;
}

.icon-pic {
    width: 1.3em;
    margin-bottom: 5px;
    padding: 0.4em;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 4px;
    align-self: center;
}

.hover-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    display: none;
}

.each-product:hover .hover-icons {
    display: flex;
    flex-direction: column;
}

.icon-pic:hover {
    border-color: #0088DD;
    background-color: #EFF9FF;
}

.show-disc {
    background-color: rgb(227, 71, 71);
    color: white;
    font-size: small;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    position: relative;
    margin-top: 1em;
    transform: translateX(calc(-100% * var(--active-index)));
    transition: transform 0.5s ease;
  
}

.each-product {
    width: 98%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 4px;
    margin-left: 0.5em;
}

.each-product:hover {
    border-color: #0088DD;
}

.prod-img {
    max-width: 100%;
    width: 18vh;
    height: 200px;
    object-fit:contain;
    
}


.rating-stock {
    display: flex;
    justify-content: space-around;
}

.stars {
    font-size: 15px;
}

.stars:before {
    content: "★★★★★";
    letter-spacing: 1px;
    color: gold;
    margin-right: 0.6em;
}


.stars.rating-0:before {
    content: "☆☆☆☆☆";
}

.stars.rating-1:before {
    content: "★☆☆☆☆";
}

.stars.rating-2:before {
    content: "★★☆☆☆";
}

.stars.rating-3:before {
    content: "★★★☆☆";
}

.stars.rating-4:before {
    content: "★★★★☆";
}

.stars.rating-5:before {
    content: "★★★★★";
}

.stock {
    font-weight: bold;
}

.product-container.slide {
    transform: translateX(calc(-100% * var(--active-index)));
}

.price-container {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
}

.prev-price {
    color: #0088DD;
    font-weight: bold;
    font-size: large;
    margin-inline-start: 1em;
}

.pres-price {
    text-decoration: line-through;
    margin-inline-start: 1em;
    font-size: small;
    color: rgb(149, 149, 149);
    margin-top: 0.2em;
}
.link-to-anything-feat{
    width: 24%;
    text-decoration: none;
    color: black;
}
@media screen and (max-width:1025px) {
  .left-options{
    width: 30%;
  }
  .right-features{
    width: 100%;
  }
  .product-container{
    flex-wrap: wrap;
  }
  .link-to-anything-feat{
    width: 48%;
  }
  .each-product{
    width: 98%;
    margin-bottom: 0.5em;
   
  }
}
@media screen and (max-width:769px) {
    .feature-container{
        flex-direction: column;
    }
    .left-options{
        width: 100%;
    }
    .policy{
        justify-content: center;
    }
}
@media screen and (max-width:500px) {
    .right-features{
        margin-left: 0;
    }
    .each-product{
        width: 98%;
    }
    .link-to-anything-feat{
        width: 100%;
    }
}
