.sale-parent {
    display: flex;
    margin-top: 2em;
    flex-wrap: wrap;
}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod1,
.prod2,
.prod3,
.prod4 {
    display: flex;
    justify-content: space-around;
    width: calc(22% - 1em);
    border-radius: 1.2em;
    padding: 2em;
    margin-left: 0.2em;

}

.prod1,
.prod3 {
    background-color: #EFF9FF;
}

.prod2 {
    background-color: #FFF8F0;
}

.prod4 {
    background-color: #FFECF0;
}

.prod-img-sale {
    width: 200px;
    max-width: 100%;
    height: auto;
}

.buy-img {
    width: 2vh;
    height: auto;
    margin-top: 2px;
}

.buy-class {
    display: flex;
}

.buy-text {
    margin-top: 4px;
    text-decoration: underline;
    color: #E74E4E;
    font-size: small;
}

.sale-percent {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media (max-width: 1441px) {

    .prod1,
    .prod2,
    .prod3,
    .prod4 {
        width: calc(50% - 1em);
        margin-bottom: 1em;
        justify-content: space-around;
        padding: 0;
        margin-left: 1em;
    }
}

@media (max-width: 769px) {

    .prod1,
    .prod2,
    .prod3,
    .prod4 {
        width: calc(50% - 1em);
    }

    .text {
        padding: 1em;
    }
}

@media (max-width: 576px) {

    .prod1,
    .prod2,
    .prod3,
    .prod4 {
        width: 100%;
        padding: 1em;
        margin-left: 0;
    }

    .text {
        margin-top: 1em;
    }
}