.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
}

.logoimg {
    width: 100px;
    height: auto;
}

.middle-section {
    display: flex;
    border: 1px solid rgb(233, 233, 233);
    padding: 3px;
    border-radius: 4px;
}

.search-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: none;

}

.search-bar:focus-visible {
    outline: white;
}

.right-section {
    display: flex;
    color: black;
}

.item {
    margin-left: 20px;
    font-size: small;
}

.rightImg {
    width: 18px;
    height: auto;
}

.badge {
    width: 15px;
    align-items: center;
    position: absolute;
    top: 11px;
    right: 165px;
    background-color: #0088DD;
    color: white;
    border-radius: 50%;
    font-size: small;
}

.dropdown1 {
    color: black;
    font-size: small;
    padding: 5px;
    margin-right: 30px;
}

.dropdown-arrow1 {
    position: relative;
    margin-bottom: 6px;
    margin-left: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.3s ease;
}

.button-container-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button {
    background-color: #0088DD;
    border: none;
    border-radius: 3px;
}

.searchImg {
    width: 15px;
    height: auto;
    padding: 5px;
    margin-top: 2px;
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
    }

    .middle-section {
        margin: 10px;
        width: 100%;
    }

    .search-bar {
        width: 100%;
        margin-bottom: 10px;
    }

    .dropdown1 {
        display: none;
    }

    .right-section {
        display: none;
    }

    .item {
        margin: 5px 10px;
        font-size: small;
    }
}

@media(max-width:1028px) {
    .dropdown1 {
        display: none;
    }
}