.parent {
    display: flex;
    margin-top: 1em;
}

.left-side {
    width: 25%;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 4px;
    margin-right: 1em;
    max-width: 100%;
}

.cat-item {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid rgb(243, 243, 243);
}

.cat-item:hover {
    background-color: #E9F6FF;
    color: #2498e0;
    font-weight: 600;

}

.right-side {
    display: flex;
    background-color: #EFF9FF;
    border-radius: 4px;
    padding: 3em;
    width: 100%;
    justify-content: center;
}

.right-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    justify-content: center;
}

.tf {
    margin-bottom: 0;
    font-size: 3vw;
    margin-top: 0.3em;

}

.cl {
    margin-top: 0;
    font-size: 3vw;
}

.disc {
    margin-bottom: 0;
    font-size: 1.5vw;
    font-weight: 600;
}

.buy {
    width: 25%;
    padding: 0.7em;
    background-color: #0088DD;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    font-family: "Quicksand", sans-serif;

}

.highlight {
    color: #0088DD;
}

.right-image {
    max-width: 100%;
}

.girl {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .left-side {
        width: 25%;
    }

    .right-side {
        width: 100%;
    }
}

@media screen and (max-width: 769px) {
    .left-side {
        display: none;
    }

    .right-side {
        flex-direction: column-reverse;
        object-fit: contain;
        padding: 0;
    }

    .right-text {
        text-align: center;
        align-items: center;
        padding: 1em;
    }

    .buy {
        font-size: small;
        width: auto;
    }
}