.App {
  text-align: center;
}

.App {
  position: relative;
}

.Titlebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.Navbar{
  position: absolute;
  top: 50px;
  left: 0;
}
.dashboard{
  padding-left: 30px;
  padding-right:30px
}

